.header {
  background-color: #3ea5d1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.header-logo {
  flex: 0 0 auto;
  width: 4rem;
  height: 3rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.header-search {
  flex: 1 1 auto;
  max-width: 20%;
  margin: 0 1rem;
}

.header-input {
  box-sizing: border-box;
  width: 100%;
  height: 1.5rem;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 0.05rem;
  border-style: solid;
  border-color: white;
  background-color: transparent;
  outline: none;
  padding: 0 1rem;
  &::placeholder {
    color: white;
    text-align: center;
    font-size: 0.8rem;
  }
}

.header-buttonList {
  flex: 0 0 auto;
  margin-right: 0.5rem;
}

.header-button {
  box-sizing: border-box;
  width: 4.5rem;
  height: 2rem;
  flex: 0 0 auto;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: bold;
  color: white;
  &:hover {
    border: 1px solid white;
  }
  &.loginBtn {
    width: 4rem;
    margin-right: 0.2rem;
  }
  &.mypageBtn {
    width: 5rem;
  }
}
