.login-form {
  background-color: white;
  z-index: 1;
  min-width: 22rem;
  min-height: 18rem;
  max-height: 30rem;
  width: 28%;
  height: 30%;
  flex: 0 0 auto;
  border-radius: 16px;
}

.login-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  font-size: 0.8rem;
  background-color: #b9a588;
  color: white;
  border-radius: 16px 16px 0 0;
  margin-bottom: 6%;
}

.login-close {
  cursor: pointer;
}

.login-info {
  box-sizing: border-box;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  padding: 0 6%;
}

.login-input {
  display: block;
  flex: 1 1 auto;
  padding: 0 0.5rem;
  outline: none;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 0.05rem;
  border-style: solid;
  border-color: lightgray;
  &:focus {
    border-color: #b9a588;
  }
  &::placeholder {
    font-size: 0.8rem;
  }
}

.login-submit {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  padding: 0 6%;
}

.login-button {
  height: 40%;
  max-height: 3rem;
  flex: 1 1 auto;
  background-color: white;
  color: #b9a588;
  border: 0.05rem solid #b9a588;
  outline: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 0.8rem;
  &:hover {
    background-color: #b9a588;
    color: white;
  }
}

@media screen and (max-width: 480px) {
  .login-form {
    min-height: 16rem;
    min-width: 18rem;
    height: 35%;
    width: 70%;
  }
}
