.register-form {
  background-color: white;
  z-index: 1;
  min-width: 28rem;
  min-height: 24rem;
  max-height: 32rem;
  width: 36%;
  height: 52%;
  flex: 0 0 auto;
  border-radius: 16px;
}

.register-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  font-size: 0.8rem;
  background-color: #b9a588;
  color: white;
  border-radius: 16px 16px 0 0;
  margin-bottom: 6%;
}

.register-close {
  cursor: pointer;
}

.register-info {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 22%;
  padding: 0 6%;
}

.register-input {
  display: block;
  flex: 1 1 auto;
  padding: 0 0.5rem;
  outline: none;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 0.05rem;
  border-style: solid;
  border-color: lightgray;
  &:focus {
    border-color: #b9a588;
  }
  &::placeholder {
    font-size: 0.8rem;
  }
}

.register-validation {
  box-sizing: border-box;
  width: 3rem;
  height: 1.8rem;
  font-size: 0.4rem;
  padding: 0;
  margin-left: 0.5rem;
  background-color: transparent;
  border: 0.05rem solid #757575;
  border-radius: 4px;
  color: #757575;
  outline: none;
  cursor: pointer;
  transition: all 200ms ease;
  &:hover {
    color: #b9a588;
    border-color: #b9a588;
  }
}

.register-container {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 10%;
  padding: 0 6%;
  justify-content: flex-end;
  align-items: center;
}

.register-agreement {
  font-size: 0.7rem;
  color: #757575;
  cursor: pointer;
}

.register-checkbox {
  border-color: #b9a588;
  margin: 0.2rem;
  cursor: pointer;
}

.register-submit {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 24%;
  padding: 0 6%;
}

.register-button {
  height: 50%;
  max-height: 3rem;
  flex: 1 1 auto;
  background-color: white;
  color: #b9a588;
  border: 0.05rem solid #b9a588;
  outline: none;
  border-radius: 12px;
  font-size: 0.8rem;
  cursor: pointer;
  &:hover {
    background-color: #b9a588;
    color: white;
  }
}

@media screen and (max-width: 480px) {
  .register-form {
    min-height: 22rem;
    min-width: 18rem;
    height: 35%;
    width: 70%;
  }
}

@media screen and (orientation: landscape) {
  .register-form {
    min-height: 18rem;
  }
}
